.mg-t-12 {
  margin-top: 12px !important;
}

.mg-b-12 {
  margin-bottom: 12px !important;
}

.mg-r-12 {
  margin-right: 12px !important;
}

.mg-l-12 {
  margin-left: 12px !important;
}

.genders {
  display: flex;
  gap: 5px;
}