.devise-links {
  display: flex;
  justify-content: right;
  
  // margin: 0 8px;
  // background: #050608;
  // padding: 6px;
  // border-radius: 4px;

  .d-link {
    margin: 0 8px;
    background: #050608;
    padding: 6px;
    border-radius: 4px;

    a {
      text-decoration: none;
      color: white;
    }

    button {
      background: none;
      color: white;
      border: none;
    }
  }
}