
= render partial: "hospitals/form", locals: {specializations: @specializations, btn_text: "Add Hospital", heading: "Add new Hospital"}

= javascript_include_tag "super_admin/directors/hospitals/add_hospital", type: :module
